@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {
   color: black;
   background: black;
}

header {
   border-bottom: solid 2px rgb(88, 15, 224);
   padding: 5px;
   font-size: 16px;
   color: white;
}

.title {
   font-family: 'Roboto', sans-serif;
   font-size: 2em;
   margin-top: 20px;
}
.chamada{
   background: rgb(130, 122, 141);
   padding-bottom: 80px;
   padding-top: 80px;
   display: flex;
   justify-content: center;
}
.chamada-texto{
   margin-right: 5%;
}
.categorias h2{
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
   margin-top: 20px;
   color: white;
}
h2 {
   font-size: 30px;
}
p{
   font-size: 20px;
}
img {
  height: 200px;
}
/* código omitido */

.categoria {
  padding-left: 20px;
  padding-right: 20px;
}
.categoria-videos {
  display: flex;
  overflow-x: auto;
  gap: 10px;
}
.fa-youtube {
   color: red;
   font-size: 30px;
}